.footer {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 4rem;
}

.footer-container {
  list-style-type: none;
  max-width: 1024px;
  width: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: whitesmoke;
  padding: 0rem 3rem;
  position: fixed;
  bottom: 0;
}

.footer-container > li > .footer-list {
  all: unset;
  text-decoration: none;
}

@media only screen and (min-width: 500px) {
  

}