.hero-section {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.hero-section img {
  height: 400px;
  object-fit: cover;
  object-position: 0;
  position:absolute;
  left: -13rem;
}

.hero-section-text {
  width: 16rem;
  position: absolute;
  bottom: 0; 
  /* right: rem; */
  right: 3rem;
  text-align: right;
}

.hero-section .hero-section-text h1 {
  font-weight: 100;
  font-size: 7rem;
}

.hero-section .hero-section-text h4 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.3rem;
}

@media only screen and (min-width: 500px) {


  .hero-section {
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
  }

  .hero-section img {
    height: 400px;
    position:absolute;
    left: -12rem;
  }

  .hero-section .hero-section-text h1 {
    font-weight: 500;
    font-size: 15rem;
  }
  
  .hero-section .hero-section-text h4 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.5rem;
  }

  .hero-section-text {
    width: 41rem;
  }

  .hero-section .hero-section-text p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 769px) {
  .hero-section .hero-section-text h1 {
    font-weight: 500;
    font-size: 20rem;
  }

  .hero-section-text {
    width: 70rem;
  }

}