.hero-section {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.hero-section img {
  height: 400px;
  object-fit: cover;
  object-position: 0;
  position:absolute;
  left: -13rem;
}

.hero-section-text {
  width: 16rem;
  position: absolute;
  bottom: 0; 
  /* right: rem; */
  right: 3rem;
  text-align: right;
}

.hero-section .hero-section-text h1 {
  font-weight: 100;
  font-size: 7rem;
}

.hero-section .hero-section-text h4 {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.3rem;
}
