
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.container {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 5rem;
  
}

.NavBar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  top: 0;
  position: fixed;
  z-index: 9999;

}

.logo {
  font-weight: 700;
  font-family: "Caveat";
  font-size: 2rem;
  text-decoration: none;
  position: absolute;
  z-index: 6000;
  left: 0;
  margin-left: 2rem;
}

.hamburger-menu {
  font-weight: bold;
  margin-right: 0;
  position: absolute;
  right: 2rem;
}


.modal > ul{
  list-style-type: none;
}

.modal > ul > li {
  padding-bottom: 0.8rem;
  text-align: center;
}

.nav-link {
  font-size: 1.3rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 1s ease-in-out;
}

.nav-link:hover {
  border-bottom: 2px solid black;
}


.close-btn {
  position: relative;
  z-index: 9999;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: -1024px;
  /* top: -250px; */
  transition: left 0.8s ease-in-out;
  z-index: 7000;
  background: whitesmoke;
}

@media only screen and (min-width: 500px) {
  .modal {
    position: relative;
    width: 1024px;
    height: 50px;
    left: 0px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    background-color: whitesmoke;
    
  }

  .modal > ul {
    display: flex;
  }

  .hamburger-menu{
    display: none;
  }

  .modal > ul > li {
    padding-left: 1.5rem;
    padding-bottom: 0;
  }


  .logo{
    margin-left: 4rem;
    z-index: 9999;
  }

}

@media only screen and (min-width: 1024px) {
  .modal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 1024px;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 2rem;
    /* top: -250px; */
    z-index: 2;
    
  }
}