.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  padding-bottom: 5rem;
  row-gap: 1rem;
}

/* .gallery-item {
  background-color: lightgrey;
  text-align: center;
} */

@media only screen and (min-width: 500px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }

}

@media only screen and (min-width: 900px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }

}