@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');


:root {
  --primary-color: #2b2f38;
}

* {
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}